<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <title>{% block title %}{% endblock title %}</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='css/style.css') }}">
  {% endblock head %}
</head>
<body class="zhi">
<a href="https://github.com/ricardoChen93/Zhihu_Demo" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 30;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="top" role="navigation">
  <div class="top-inner">
    {% cache 300, 'top', 'logo' %}
    <a class="top-link-logo" href="{{ url_for('main.index') }}">知乎</a>
    {% endcache %}
    {% if current_user.is_authenticated %}
    <div class="top-nav-profile" id="dpmenu">
      <a class="top-nav-userinfo" href="{{ url_for('main.profile', username=current_user.username) }}">
        <span class="name">{{ current_user.nickname }}</span>
        <img class="Avatar" src="{{ url_for('static', filename=current_user.avatar_file) }}" />
      </a>
      <ul class="top-nav-dropdown">
        <li><a href="{{ url_for('main.profile', username=current_user.username) }}">我的主页</a></li>
        <li><a href="#">私信</a></li>
        <li><a href="#">设置</a></li>
        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
      </ul>
    </div>
    {% else %}
    <ul class="top-nav-noauth clearfix">
      <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span>注册知乎</a></li>
      <li><a href="{{ url_for('auth.login') }}">登录</a></li>
    </ul>
    {% endif %}
    {% cache 300, 'top', 'nav' %}
    <button type="button" class="top-add-question" data-toggle="modal" data-target="#AddQuestion">提问</button>
    <div class="top-search" role="search">
      <form class="top-search-form" action="{{ url_for('main.search') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input name="type" value="content" type="hidden" />
        <input class="top-search-input" name="conditions" placeholder="搜索你感兴趣的内容" type="text" />
        <button class="top-search-button" type="submit">
          <span class="sprite-global-icon-search"></span>
        </button>
      </form>
    </div>
    <div class="top-nav">
      <ul class="top-nav-ul">
        <li id="home" class="top-nav-li">
        <a class="top-nav-link" href="{{ url_for('main.index') }}">首页</a>
        </li>
        <li id="topic" class="top-nav-li">
        <a class="top-nav-link" href="#">话题</a>
        </li>
        <li id="explore" class="top-nav-li">
        <a class="top-nav-link" href="{{ url_for('main.explore') }}">发现</a>
        </li>
        <li class="top-nav-li">
        <a class="top-nav-link" href="#">消息</a>
        </li>
      </ul>
    </div>
    {% endcache %}
  </div>
</div>
{% block page_content %}{% endblock page_content %}
<div class="footer">
  <div style="text-align:center;">
    <p>本站仅起演示作用，如有疑问请联系我</p>
    <p>ricardo.chensdu@gmail.com</p>
  </div>
</div>
{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
<script>
// Add Markdown Editor
var add_question = new SimpleMDE({ element: document.getElementById("question-content") });
var add_answer = new SimpleMDE({ element: document.getElementById("answer-content") });
var edit_question = new SimpleMDE({ element: document.getElementById("edit-question-content") });
var edit_answer = new SimpleMDE({ element: document.getElementById("edit-answer-content") });
</script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock scripts %}
</body>
</html>