{% extends 'base.html' %}
{% block title %}发现-知乎{% endblock %}
{% block page_content %}
<div class="main page-explore clearfix">
  <div class="main-content">
    <div class="main-content-inner">
      <div id="recommend">
        <div id="recommend-title" class="page-title">
          <i class="icon icon-feedlist"></i>
          编辑推荐
          <a id="explore-random" href="javascript:;" style="float:right;color:#999;font-size:12px;">换一批</a>
        </div>
        <div id="recommend-list">
          {% for question in questions %}
          <div class="recommend-feed feed-item">
            <div>
              <a class="question_link" target="_blank" href="{{ url_for('main.question_page', id=question.id) }}">{{ question.title }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include '_questionForm.html' %}
{% endblock %}