{% extends 'base.html' %}
{% block title %}{{ user.nickname }}-知乎{% endblock %}
{% block page_content %}
<div class="main clearfix">
  <div class="main-content">
    <div class="main-content-inner">
    {% include '_profileCard.html' %}      
      <div class="profile-section">
        <div class="profile-section-head">
          <a class="profile-section-title" href="#">
            <h2 class="profile-section-name">回答</h2>
          </a>
        </div>
        <div class="profile-section-list">
        {% for answer in newest_answers %}
          <div class="profile-section-item">
            <div class="profile-vote-count">
              <div class="profile-vote-num">{{ answer.agrees_count }}</div>
              <div class="profile-vote-type">赞同</div>
            </div>
            <div class="profile-section-main">
              <div class="profile-question">
                <a target="_blank" href="{{ url_for('.question_page', id=answer.question_id) }}">{{ answer.get_question().title }}</a>
              </div>
              <p class="profile-item-text">{{ answer.get_summary() }}</p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="profile-section">
        <div class="profile-section-head">
          <a class="profile-section-title" href="#">
            <h2 class="profile-section-name">提问</h2>
          </a>
        </div>
        <div class="profile-section-list">
        {% for question in newest_questions %}
          <div class="profile-section-item">
            <span class="profile-vote-count">
              <div class="profile-vote-num">100</div>
              <div class="profile-vote-type">浏览</div>
            </span>
            <div class="profile-section-main">
              <div class="profile-question">
                <a target="_blank" href="{{ url_for('.question_page', id=question.id) }}">{{ question.title }}</a>
              </div>
              <div class="profile-section-meta">
                <span>{{ question.answers_count() }}个回答 </span>
                <span>{{ question.followers_count() }}人关注</span>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include '_profileSideBar.html' %}
</div>
{% include '_questionForm.html' %}
{% endblock %}